
@media all and (max-width: 450px) {
	#ribbon .ribbon-button-mobile .ribbon-icon.ribbon-normal
	{
		display: inline;
	}
	
	#ribbon .ribbon-button-mobile:hover .ribbon-icon.ribbon-hot
	{
		display: inline;
	}
	#ribbon .ribbon-button-mobile
	{
		padding: 3px 4px;
		text-align: left;
		width:80px;
	}
	#ribbon .ribbon-button-mobile .ribbon-icon
	{
		width: 16px;
		height: 16px;
		float: left;
		clear: left;
		margin: -1px 5px 0px 1px;
	}
	.left_sml_mobile{
	margin:0;
	padding:0;
	float:left;
	}
	
	.maptitle {
		display: none;
	}
	
}
@media all and (min-width: 451px) {
	#ribbon .ribbon-button-mobile .button-title
	{
		clear: left;
		display: block;
	}
	
	#ribbon .ribbon-button-mobile .ribbon-icon
	{
		margin: auto;
	}
		#ribbon .ribbon-button-mobile
	{
		text-align: center;
		height: 53px;
		min-width: 44px;
		float: left;
	}
	#ribbon .ribbon-button-mobile .ribbon-icon.ribbon-normal
	{
		display: block;
	}
	#ribbon .ribbon-button-mobile:hover .ribbon-icon.ribbon-hot
	{
		display: block;
	}
	.left_sml_mobile{
	margin:0;
	padding:0;
	float:left;
	}
	
	.maptitle {
		padding: 7px;
		display: inline-block;
	}
}
body
{
	padding-top: 0px;
}

.page
{
	border: 1px solid #a5acb5;
	margin: 20px;
	padding: 15px;
	-webkit-box-shadow: #000000 0px 0px 10px;
	-moz-box-shadow: #000000 0px 0px 10px;
	box-shadow: #000000 0px 0px 10px;
	background: #FFF;
	behavior: url(/PIE.htc);
}

#ribbon
{
	font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
	cursor: default;
	font-size: 8pt;
	padding-top: 10px;
	background-color: #eaedf1;
	border-bottom: 1px solid #8b9097;
	-webkit-box-shadow: #8b9097 0px 1px 3px;
	-moz-box-shadow: #8b9097 0px 1px 3px;
	box-shadow: #8b9097 0px 1px 3px;
	overflow: hidden;
	behavior: url(/PIE.htc);
	z-index: 25;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
//	height: 135px;  //wonho- remove for moving
}

#ribbon.backstage
{
	height: auto;
	bottom: 0;
}
#ribbon .ribbon-window-title
{
	text-align: center;
	color: #fff;
	padding: 2px;
	font-size: 8pt;
	display: block;
	width:100%;
	background:#444;
	position: absolute;
	top: 0;
	height:30px;
	border-bottom: 1px solid black;
}

#ribbon #ribbon-tab-header-strip
{
	margin:35px 0 0 10px;
	white-space: nowrap;
}

#ribbon .ribbon-tab-header
{
	display: inline;
	margin: 0 5px;
	padding: 5px 10px;
	font-size: 8pt;
	color: #444; /*border: 1px solid #eaedf1;*/
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	position: relative;
	z-index: 40;
}

#ribbon.backstage .ribbon-tab-header
{
	
}

#ribbon .ribbon-tab-header:hover
{
	background: #3ABCC2;
	border: 1px solid #1E9AA5;
	margin: -1px 4px;
	cursor: pointer;
	color: white;
}

#ribbon.backstage .ribbon-tab-header
{

}

#ribbon .ribbon-tab-header.sel, #ribbon .ribbon-tab-header.sel:hover
{
	background: #fff;
	margin: -1px 4px;
	border: 1px solid #b6babf;
	border-bottom: 1px solid #fff;
	cursor: default;
	z-index: 45;
	color:#444;
}

#ribbon .ribbon-tab-header.file
{
	padding: 5px 20px;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#71CCFF),color-stop(100%,#3096E6));
	background-image: -webkit-linear-gradient(#71CCFF,#3096E6);
	background-image: -moz-linear-gradient(#71CCFF,#3096E6);
	background-image: -o-linear-gradient(#71CCFF,#3096E6);
	background-image: linear-gradient(#71CCFF,#3096E6);
	border: 1px solid #1B74D8;
	margin: -1px 4px;
	border-bottom: 1px solid #4488e5;
	cursor: default;
	color: #fff;
}


#ribbon .ribbon-tab-header.file:hover
{
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#71CCFF),color-stop(100%,#3096E6));
	background-image: -webkit-linear-gradient(#71CCFF,#3096E6);
	background-image: -moz-linear-gradient(#71CCFF,#3096E6);
	background-image: -o-linear-gradient(#71CCFF,#3096E6);
	background-image: linear-gradient(#71CCFF,#3096E6);
	border: 1px solid #1B74D8;
	cursor: pointer;
	border-bottom: 1px solid #4488e5;
	z-index: 55;
	position: relative;
}
#ribbon .ribbon-tab-header.file.sel
{
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#71CCFF),color-stop(100%,#3096E6));
	background-image: -webkit-linear-gradient(#71CCFF,#3096E6);
	background-image: -moz-linear-gradient(#71CCFF,#3096E6);
	background-image: -o-linear-gradient(#71CCFF,#3096E6);
	background-image: linear-gradient(#71CCFF,#3096E6);
	border: 1px solid #1B74D8;
	cursor: pointer;
	border-bottom: 1px solid #4488e5;
	z-index: 55;
	position: relative;
}

#ribbon .ribbon-tab
{
	height: 85px;
	padding: 5px;
	margin-top: 5px;
	border-top: 1px solid #b6babf;
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1); /*-pie-background: linear-gradient(#ffffff, #eaedf1);*/
	overflow: hidden;
	min-width: 900px;
	behavior: url(/PIE.htc);
	z-index: 30;
	-pie-watch-ancestors: 2;
}

#ribbon .ribbon-tab.file
{
	padding: 0;
	margin-top: 5px;
	overflow: hidden;
	min-width: 500px;
	z-index: 30;
	
	/*--background-color:#4488e5;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#4488e5, endColorstr=#ffffff);
	background-image:-moz-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-webkit-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-ms-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-o-linear-gradient(left, #4488e5 15%, #ffffff 100%);
	background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(15%,#4488e5), color-stop(100%,#ffffff));--*/

}

#ribbon .folding-tab               //wonho �좎럩伊숋옙�논렭占쎈뿭�뺧옙占쎌삕占쎌뼚�뺝뜝�뚮듌占쎈벨�숅넫濡レ쭢�좎럩�귨옙�뗭춾占쎈챷留띰옙醫롫윥占쎈끋占썲뜝�덉맶�좎럩�울옙類㏃삕�ル∥�ら큺�녿땬占쎌닂�숋옙��뎡占쎌쥙�ワ옙�쏆삕�쒕굞�뺞쾬�껊쳹占쎌눨�앾옙�덇볼�좎럩�쇽옙��뿉占싼딉옙��옙�됬뙴�삳┛占썩뫁�뺝뜝�뚯뒠占쎌궍�앾옙袁⑸쳥占쎈８��옙�얠삕占쏙옙泥볩옙醫롫뼢占싼딅㎍占쎌쥙�⑼옙�몄삕筌먦룂�뺝뜝�⑸쳳�댐옙�앾옙�덇볼�좎럩�쇽옙��춸占쎈뿫�쯱bbon-tab	�좎럩伊숋옙�쎌삕占쎈갭��뜝�덇턂占쎈벨�숅넫濡レ쑅占쎈㈇��옙�낅꽞嚥▲꺃紐㏆옙醫롫윪��옙�숋옙猿뗭첁�좎럥梨뤄옙袁�쐻占쎈슣履좑옙猷뱀돸占쎌닂�숋옙�밸㎍占쎌쥙�ο옙�쏆삕筌먯빖�삣뜝�덉뒧占쏙퐛�앾옙��떜�좎럩鍮�옙�껋낯筌뤾쒀�숋옙占쎈��댁빢�뽳쭖�ㅼ맶�좎럥占쏙옙�ｋ쐻占쎈슢�뚦뜝�숈삕
{
	height: 10px;
	padding: 5px;
	margin-top: 5px;
	border-top: 1px solid #b6babf;
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1); /*-pie-background: linear-gradient(#ffffff, #eaedf1);*/
	overflow: hidden;
	min-width: 500px;
	behavior: url(/PIE.htc);
	z-index: 30;
	-pie-watch-ancestors: 2;
}

#ribbon .ribbon-backstage
{
	display: none;
}


#ribbon.backstage .ribbon-backstage
{
	display: block;
	position: absolute;
	padding: 10px;
	background-color: #FFF;
	width:250px;
	left: 15px;
	top:63px;
	border: 1px solid #DEDEDE;
}

#ribbon .section-title
{
	color: #5B626C;
	text-align: center;
	clear: left;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2px;
	border-top: 1px solid #DEDEDE;
	background: rgba(61, 61, 61, 0.04);

}

#ribbon .ribbon-section
{
	float: left;
	position: relative;
	height: 82px;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	margin: 0 4px;
	padding: 3px;
}

#ribbon .ribbon-section-sep
{
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #fff;
	margin: 0 5px;
	height: 75px;
	position: relative;
	width: 0;
	float: left;
}

#ribbon .ribbon-button
{
	padding: 4px 6px;
	border: 1px solid transparent;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
}

#ribbon .ribbon-button-large
{
	text-align: center;
	height: 53px;
	min-width: 44px;
	float: left;
}

#ribbon .ribbon-button-small
{
	padding: 3px 4px;
	text-align: left;
}

#ribbon .ribbon-button .button-help
{
	display: none;
}

#ribbon .ribbon-button .button-title
{
	color: #444;
}

#ribbon .ribbon-button-large .button-title
{
	clear: left;
	display: block;
}

#ribbon .ribbon-button-large .ribbon-icon
{
	margin: auto;
}

#ribbon .ribbon-button-small .ribbon-icon
{
	width: 16px;
	height: 16px;
	float: left;
	clear: left;
	margin: -1px 5px 0px 1px;
}
#ribbon .ribbon-button .ribbon-icon.ribbon-hot, #ribbon .ribbon-button .ribbon-icon.ribbon-disabled
{
	display: none;
}

#ribbon .ribbon-button-large .ribbon-icon.ribbon-normal
{
	display: block;
}

#ribbon .ribbon-button:hover .ribbon-icon.ribbon-normal
{
	display: none;
}

#ribbon .ribbon-button-large:hover .ribbon-icon.ribbon-hot
{
	display: block;
}
#ribbon .ribbon-button-small .ribbon-icon.ribbon-normal
{
	display: inline;
}

#ribbon .ribbon-button-small:hover .ribbon-icon.ribbon-hot
{
	display: inline;
}

#ribbon .ribbon-button:hover, #ribbon .ribbon-button.sel /*---占쎌쥙�ε뜝�쏙옙占썩뫀�쏁넭怨κ데獄�퐛�뽳옙��콬�좎뜫�귞뵳怨꾩쪎占쎈뿫鍮놂옙醫롫윞占싼뉖눀�좑옙*/
{
	border: 1px solid #F1C43F;
	background: #FEE486;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FEF9C9), to(#FEE486));
	background: -moz-linear-gradient(#FEF9C9, #FEE486);
	-pie-background: linear-gradient(#fef9c9, #fee486);
	cursor: pointer;
	
}
#ribbon .ribbon-button:active
{
	background: #F1C43F;
	cursor: pointer;
}

#ribbon .ribbon-button.disabled .ribbon-icon, #ribbon .ribbon-button.disabled:hover .ribbon-icon
{
	display: none;
}
#ribbon .ribbon-button.disabled .ribbon-icon.ribbon-disabled
{
	display: block;
	opacity: 0.5;

}
#ribbon .ribbon-button.disabled .ribbon-icon.ribbon-implicit-disabled
{
	opacity: 0.4;
}

#ribbon .ribbon-button.disabled:hover
{
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}
#ribbon .ribbon-button.disabled:active
{
	border: 1px solid transparent;
	background: transparent;
	cursor: default;
}

#ribbon .ribbon-button.disabled .button-title
{
	color: #DDD;
}

.ribbon-tooltip
{
	font-family: "Segoe UI" , Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 10pt;
	position: fixed;
	z-index: 5000;
	border: 1px solid #8b9097;
	background-color: #e5e5f0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#e5e5f0));
	background: -moz-linear-gradient(#ffffff, #e5e5f0);
	-pie-background: linear-gradient(#ffffff, #e5e5f0);
	padding: 5px;
	-webkit-box-shadow: #c6c9cd 1px 1px 3px;
	-moz-box-shadow: #c6c9cd 1px 1px 3px;
	box-shadow: #c6c9cd 1px 1px 3px;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	width: 200px;
	top: 150px !important;
}
.left_sml{
	margin:0;
	padding:0;
	float:left;
}


.topbar{
	background:#333;
	width:100%;
	position:absolute;
	top:0;
}

.logo {
	float: left;
	margin: 0;
	padding: 0;
	opacity:0.5;
	cursor:pointer;
}
.logo:hover {
	opacity:0.7;
}

.topright{
	float:right;
	
}
.nav{
	float:left;
	font-size:12px;
	padding-top:7px;
}
.username{
	
}
.userinfo{
	list-style:none;
}
.lang {
	margin: 8px 0px;
	font-size:9pt;
}
.folding {
	text-align: center;
	border-top: 1px solid #dedede;
	background: rgba(255, 255, 255, 0.3);
	margin-top: 5px;
	padding: 0;
	height: 11px;
}


#folding-RB {
	width: 100px;
	margin: 0 auto;
	text-align: center !important;
	padding: 0 !important;
	background: #ededed;
	border-radius: 0 !important;
}
.scroll_x {
	overflow-x: auto;
}
