/* 초기화 */
@font-face {
    font-family: '나눔 고딕';
    src: local('NanumGothic');
    src: url('../@font-face/NanumGothic.eot');
    src: url('../@font-face/NanumGothic.ttf');
    src: url('../@font-face/NanumGothic.woff');                
}
* {
    padding: 0; 
    margin: 0;
    font-family: '나눔 고딕';
}

body { 
    background-image: url(../images/main/ptt.png);
    background-repeat: repeat;
}
li {list-style: none;}
a {text-decoration: none;}
img {border: 0;}


/* COMMON */
.fl { float:left; } 
.cl { clear: both; }
.justify {text-align: justify;}


/* 언어팩 */
#google_translate_element {
    position: absolute;
    right: -10px;
    top: 45px;
}
/******** 메인 **********/

/* Header */
#header {
    color: #41555f;
    margin: 0px auto;
    padding-top: 25px;
    width: 100%;
}
#logo {
    background-image: url(../images/main/logo.png);
    margin: 20px auto;
    width: 250px;
    height: 69px;
}
#tagline {
    text-align: center;
    font-size: 30px;
    line-height: 1.4em;
    font-weight: bold;
    color: #41555f;
}

div.startbutton{
	width: 16%;
	margin: 0px 39%;
}

div.gallerybutton{
	width: 16%;
	margin: 0px 39%;
}

#startbutton {
    text-align: center;
    display: block;
    margin: 30px auto;
    padding: 15px;
    background: #00b4cc;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
}
#startbutton:hover {
    background: #333333;
    color: #fff;
}
#gallerybutton {
    text-align: center;
    display: block;
    margin: 30px auto;
    padding: 15px;
    background: #00b4cc;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
}
#gallerybutton:hover {
    background: #333333;
    color: #fff;
}

/* Main Container */
#main_container {
    margin-top: 80px;
    padding-bottom: 70px;
}
#main_box {
    width: 825px;
    margin: 0 auto;
}
.box_3 {
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.box_3 .text_box{
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.8em; 
}
.box_3 .text_box a{
	padding-left: 7px;
	text-decoration: none;
}
.margin_15 {
    margin-top: 15px;
}


#pagetitle_way {
	width: 825px;
    margin: 15px auto;
    background: #2baae1;
    padding: 15px 20px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
}
#pagetitle_way span {
    font-family: 'Noto Sans', sans-serif;   
}
#sub_container {
	height: 460px;
	display: block;
    width: 822px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#sub_container iframe{
	height:460px;
}
#ex_icon {
	height: 720px;
    width: 840px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#ex_icon > span {
    margin-right: 55px;
}

.icon_img{
	width:100%;
	height:100%;
}

#pagetitle_re {
    width: 825px;
    margin: 15px auto;
    background: #f68e27;
    padding: 15px 20px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
}
#pagetitle_re span {
    font-family: 'Noto Sans', sans-serif;   
}

#ex_mindmap{
	width:825px;
	margin:30px auto;
	min-height:560px;
}

#ex_mindmap img{
	width:180px;
	height:120px;
}

.img_line{
	width:100%;
	height:180px;
}

.r_mindmap{
	float:left;
	margin:15px 0 0 20px;
}

.subject{
	width:100%;
	height:50px;
	font-weight:bold;
	font-size:0.8em;
	line-height:25px;
}

.orange{
	color:#f68e27;
}

.blue { 
	color:#2baae1;
}

#tagline2 {
	width:400px;
    font-size: 25px;
    font-weight: bold;
    color: #41555f;
	float:left;
	height:30px;
}

#tagline3 {
	font-size: 25px; 
	margin-top:-25; 
	width:290px; 
	height:30px; 
	clear:both;
	float:left;
	font-weight: bold;
	color: #41555f;
}

#re_footer{
	clear:both;
	width:825px;
	margin:25px auto;
}

#button2 {
    text-align: center;
    display: block;
    width: 150px;
    padding: 15px;
    background: #00b4cc;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
	float:left;
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    margin:30px auto;
}

/* Footer */
#footer{
    margin: 50px auto;
    width: 100%;
    height: 40px;
    line-height: 20px;
    text-align: center;                
    font-size: 0.7em;
    background-color: #efefef;
    clear: both;
}

@media (max-width:900px){
	div.startbutton{
		width: 18%;
		margin: 0px 41%;
		
	}	
	#startbutton{
		font-size: 18px;
	}
	div.gallerybutton{
		width: 18%;
		margin: 0px 41%;
		font-size: 18px;
	}
	#gallerybutton{
		font-size: 18px;
	}
	
	#pagetitle_way{
		width:90%;
	}
	#ex_icon {
		height: auto;
	    width: 100%;
	    margin: 0 auto;
	    margin-bottom: 10px;
	}
	#sub_container {
		height: auto;
		display: block;
	    width: 100%;
	    margin: 0 auto;
	    margin-bottom: 15px;
	}
	#sub_container iframe{
		width:100%;
	}
}

@media (max-width:600px){
	#header{
		width:80%;
	}
	div.startbutton{
		width: 30%;
		margin: 0px 35%;
	}	

	div.gallerybutton{
		width: 30%;
		margin: 0px 35%;
	}
	#pagetitle_way{
		width:85%;
		font-size: 35px;
	}
	#tagline {
	    text-align: center;
	    font-size: 30px;
	    line-height: 1.4em;
	    font-weight: bold;
	    color: #41555f;
	}
	#main_box{
		width:306px;
	}
	#main_container {
		margin-top: 50px;
	}
}
@media (max-width:400px){
	#main_box{
		width:256px;
	}
	
	#tagline{
		font-size: 15px;
	}
	#main_container {
		margin-top: 40px;
	}
	#sub_container iframe{
		height: 400px;	
	}
	#startbutton{
		font-size: 15px;
	}
	#gallerybutton{
		font-size: 15px;
	}
}


/*
* recommend.jsp
*/

@media (max-width:900px){
	#pagetitle_re{
		width:90%;
	}
	#re_footer{
		width:90%;
	}
	#tagline2{
		clear:left;
		margin:0 auto;
	}
	#tagline3{
		clear:left;
		margin:-25px auto;
	}
	#button2{
		clear:left;
		margin:30px auto;
	}
}
@media (max-width:820px){
	#ex_mindmap{
		width:100%;
		margin:30px auto;
	}
	.r_mindmap{
		margin:15px 0 0 45px;
	}
}
@media (max-width:770px){
	#pagetitle_re{
		font-size:40px;
	}
	.r_mindmap{
		margin:15px 0 0 120px;
	}
}
@media (max-width:710px){
	#pagetitle_re{
		width:80%;
		font-size:35px;
	}
	.r_mindmap{
		margin:15px 0 0 110px;
	}
}
@media (max-width:660px){
	.r_mindmap{
		margin:15px 0 0 90px;
	}
}
@media (max-width:630px){
	#pagetitle_re{
		font-size:30px;
	}
	.r_mindmap{
		margin:7px 0 0 30%;
	}
	
}
@media (max-width:420px){
	#pagetitle_re{
		font-size:25px;
	}
	.r_mindmap{
		margin:7px 0 0 25%;
	}
	#tagline2{
		width:240px;
		font-size:15px;
	}
	#tagline3{
		width:180px;
		font-size:15px;
	}
}
@media (max-width:350px){
	#pagetitle_re{
		font-size:20px;
	}
	.r_mindmap{
		margin:7px 0 0 20%;
	}
}
