
/* http://west-wind.com/weblog/posts/388213.aspx */

body {	
    -webkit-text-size-adjust:130%;
}

#quick_buttons {
height: 42px;
padding: 5px;
text-align: center;
width: 100%;
background: black;
color: white;
opacity: .70;
filter: alpha(opacity="70");
z-index: 200;
overflow: hidden;
position: fixed;
bottom:-8px;
}

.quick_sub_buttons
{
    position: fixed;
    bottom: 44px;
    height: 42px;    
    padding: 5px;
    text-align: center;
 	width:100%;
    background: black;
    color: white;
    opacity: .70;    
    filter: alpha(opacity="70");
    z-index: 200;
    overflow: hidden;    
    display: none;
}

#nav {
	position:absolute;
	bottom:45px;
	z-index:9999;
	width:100%;
	height:10px;
}

#indicator, #indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}
 
#indicator {
	width:50px;
	margin:0 50%;
}
 
#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#ddd;
	overflow:hidden;
	margin-right:4px;
}
 
#indicator > li.active {
	background:#888;
}
 
#indicator > li:last-child {
	margin:0;
}

/***********************************************/


#mobile_menu
{
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0, .5) 0px 1px 1px;
	
	width: 90%;
	height: 42px;
	padding: 5px 0px 5px 0px;
	margin: 0 5%;
	background: rgba(0,0,0,.7);
	color: #fff;
                
	position: fixed;
	text-align: center;
 
	/* opacity: .70; */    
	/* filter: alpha(opacity="70"); */
	/* z-index: 200; */
}

.statusbarhighlight
{
    font-weight: bold;
    background-color: khaki;
    color: Maroon;
    border: solid 1px silver;
}


/* http://groupaware.mobi/iphone/ */

.borderImageBtn
{
	margin: 0;
	height: 30px;
	width:110px;
	text-align: center;
	font: bold 12px/30px Helvetica, sans-serif;
	text-decoration: none;
	display: block;
}
.blueButton
{
	border-left: 12px;
	border-right: 12px;
	color: white;
	text-shadow: #000 0px 1px 1px;
	-webkit-border-image:url("../images/mobile/blueButton.png") 0 14 0 14;
}
.whiteButton
{
	border-left: 12px;
	border-right: 12px;
	color: black;
	text-shadow: #fff 0px 1px 1px;
	-webkit-border-image:url("../images/mobile/whiteButton.png") 0 14 0 14;
}
.blackButton
{
	border-left: 12px;
	border-right: 12px;
	color: white;
	text-shadow: #000 0px 1px 1px;
	-webkit-border-image:url("../images/mobile/grayButton.png") 0 14 0 14;
}
.blackLeftButton
{
	border-left: 12px;
	border-right: 5px;
	color: white;
	text-shadow: #000 0px 1px 1px;
	-webkit-border-image: url("../images/mobile/left.png") 0 5 0 12;
}
.blackRightButton
{
	border-left: 5px;
	border-right: 12px;
	color: white;
	text-shadow: #000 0px 1px 1px;
	-webkit-border-image: url("../images/mobile/right.png") 0 12 0 5;
}

