

body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	background: #000;
    color: #ddd;
    
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
/*	padding-bottom:44px;	/*	This prevents the scroller to lock if the user swipes down outside of the screen.
							 	NOT needed if in home screen mode and on Android. */
}
body > * {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#5e5e65));
}
h1, h2 {
    font: bold 18px Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #000;
    margin: 10px 20px 5px;
}

#wrapper {
	height:200px;		/* Of course you need to specify the object height */

	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */

	width:100%;
	background:#aaa;
	overflow:hidden;
}

#scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;

/*	-webkit-box-shadow:0 0 8px #555;	/* Don't use box shadows, they slow down drastically CSS animations */
}



/* @group Toolbar */
.toolbar {
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #000;
    padding: 10px;
    height: 45px;
    background: url(../images/mobile/list/toolbar.png) #000000 repeat-x;
    position: relative;
}
.black-translucent .toolbar {
	margin-top: 20px;
}
.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 10px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
body.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}
.button, .back, .cancel, .add {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 10px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../images/mobile/list/button.png) 0 5 0 5;
}
.blueButton {
    -webkit-border-image: url(../images/mobile/list/blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}
.back {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../images/mobile/list/back_button.png) 0 8 0 14;
}
.back.active {
    -webkit-border-image: url(../images/mobile/list/back_button_clicked.png) 0 8 0 14;
    color: #aaa;
}
.leftButton, .cancel {
    left: 6px;
    right: auto;
}
.add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.whiteButton,
.grayButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}
.whiteButton {
    -webkit-border-image: url(../images/mobile/list/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.grayButton {
    -webkit-border-image: url(../images/mobile/list/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}
/* @end */
/* @group Lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
    margin-top: 0;
}
ul {
    color: #aaa;
    border: 1px solid #333333;
    font: bold 18px Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
}
ul.rounded {
    -webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
}
ul.rounded li:first-child, ul.rounded li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul.rounded li:last-child, ul.rounded li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
ul li {
    color: #666;
    border-top: 1px solid #333;
    border-bottom: #555858;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    overflow: hidden;
}
ul li.arrow {
    background-image: url(../images/mobile/list/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward {
    background-image: url(../images/mobile/list/chevron_circle.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}
/* universal links on list */
ul li a, li.img a + a {
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-shadow: rgba(0,0,0,.2) 0 1px 1px;
}
ul li a.active, ul li a.button {
    background-color: #53b401;
    color: #fff;
}
ul li a.active.loading {
    background-image: url(../images/mobile/list/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul li.arrow a.active {
    background-image: url(../images/mobile/list/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward a.active {
    background-image: url(../images/mobile/list/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}
ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}
ul li.img a + small + a {
    margin-left: -5px;
}
ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}
ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}
ul li a + a {
    color: #000;
    font: 14px Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
    color: #666;
    font: 13px Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}
/*
@end */



