<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>okmindmap_egov</display-name>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>okmindmap.root</param-value>
  </context-param>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.okmindmap.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>com.okmindmap.filter.LocaleFilter</filter-class>
    <init-param>
      <param-name>cookieName</param-name>
      <param-value>locale</param-value>
    </init-param>
    <init-param>
      <param-name>localeResolver</param-name>
      <param-value>localeResolver</param-value>
    </init-param>
    <init-param>
      <param-name>locales</param-name>
      <param-value>en,ko</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserAgentFiter</filter-name>
    <filter-class>com.okmindmap.filter.UserAgentFiter</filter-class>
    <init-param>
      <param-name>attribute</param-name>
      <param-value>agent</param-value>
    </init-param>
    <init-param>
      <param-name>userAgent</param-name>
      <param-value>Android,iPhone,iPad</param-value>
    </init-param>
    <init-param>
      <param-name>cacheSize</param-name>
      <param-value>1024</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserAgentFiter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CookieFilter</filter-name>
    <filter-class>com.okmindmap.filter.CookieFilter</filter-class>
    <init-param>
      <param-name>cookie-age</param-name>
      <param-value>2147483647</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>confReloadCheckInterval</param-name>
      <param-value>60</param-value>
    </init-param>
    <init-param>
      <param-name>confPath</param-name>
      <param-value>/WEB-INF/urlrewrite.xml</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
    <init-param>
      <param-name>statusPath</param-name>
      <param-value>/rewrite-status</param-value>
    </init-param>
    <init-param>
      <param-name>statusEnabled</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>statusEnabledOnHosts</param-name>
      <param-value>localhost,www.okmindmap.com</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>monitoring</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>monitoring</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>
  <filter>
    <filter-name>ExpiresFilter</filter-name>
    <filter-class>bnegrao.filters.ExpiresFilter</filter-class>
    <init-param>
      <param-name>ExpiresByType text/cache-manifest</param-name>
      <param-value>access plus 0 minutes</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExpiresFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>initApplicationScopeCreatorsAtStartup</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jsonRpcEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jsonpEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>preferDataUrlSchema</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DWR SessionManager</display-name>
    <servlet-name>dwr-sessionmanager</servlet-name>
    <servlet-class>com.okmindmap.collaboration.SessionManagerServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <error-page>
    <error-code>400</error-code>
    <location>/errors/ERROR400.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errors/ERROR403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errors/ERROR404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errors/ERROR500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errors/ERROR503.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>-1</session-timeout>
  </session-config>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:net/bull/javamelody/monitoring-spring.xml
			/WEB-INF/dataAccessContext-local.xml
			/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>pservice.config.file.name</param-name>
    <param-value>/WEB-INF/config.properties</param-value>
  </context-param>
  <listener>
    <listener-class>com.okmindmap.context.ContextDeployment</listener-class>
  </listener>
  <servlet>
    <servlet-name>mindmap</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>mindmap</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>map-invoker</servlet-name>
    <servlet-class>com.okmindmap.servlet.MapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>map-invoker</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>export-invoker</servlet-name>
    <servlet-class>com.okmindmap.servlet.ExportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>export-invoker</servlet-name>
    <url-pattern>/export</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>svg-invoker</servlet-name>
    <servlet-class>com.okmindmap.servlet.SVGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svg-invoker</servlet-name>
    <url-pattern>/svg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>text-invoker</servlet-name>
    <servlet-class>com.okmindmap.servlet.TEXTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>text-invoker</servlet-name>
    <url-pattern>/text</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>png-invoker</servlet-name>
    <servlet-class>com.okmindmap.servlet.convertBaseForPngServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>png-invoker</servlet-name>
    <url-pattern>/convertBaseForPng</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
      <param-name>mappedfile</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <jsp-config>
    <taglib>
      <taglib-uri>/spring</taglib-uri>
      <taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/okmindmap</taglib-uri>
      <taglib-location>/WEB-INF/tld/okmindmap.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/bitly</taglib-uri>
      <taglib-location>/WEB-INF/tld/bitly.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/enventry</taglib-uri>
      <taglib-location>/WEB-INF/tld/enventry.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>AcceptLanguage</servlet-name>
    <servlet-class>org.espressive.AcceptLanguage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptLanguage</servlet-name>
    <url-pattern>/AcceptLanguage</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>json</extension>
    <mime-type>application/json</mime-type>
  </mime-mapping>
  <env-entry>
    <env-entry-name>versioning</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>20130319</env-entry-value>
  </env-entry>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
</web-app>